Source: iptables-persistent
Section: admin
Priority: optional
Maintainer: Jonathan Wiltshire <jmw@debian.org>
Uploaders: Andreas Rütten <AndreasRuetten@gmx.de>
Build-Depends: debhelper (>= 7.0.50~), po-debconf
Standards-Version: 3.9.2
Vcs-Browser: http://robin.powdarrmonkey.net/cgi-bin/gitweb.cgi?p=iptables-persistent
Vcs-Git: git://robin.powdarrmonkey.net/git/iptables-persistent/

Package: iptables-persistent
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2~)
Depends: iptables, lsb-base, module-init-tools, ${misc:Depends}
Description: boot-time loader for iptables rules
 This package provides a system startup script that restores iptables
 rules from a configuration file.
 .
 Since this is aimed at experienced administrators, there is no configuration
 wizard.
